{% include "header.html" %}
<div class="container-fluid title-container">
    <div class="title">
        <h1>High Quality Nonsense</h1>
        <h3 class="subtitle">A collection of random musings/ramblings by Isaac Cress</h3>


        <br>
        {% if logged_in %}
        <h2>Welcome, {{user.name}}!</h2>
        {% endif %}
    </div>
</div>

<div class="container-fluid post-list">
    {% for post in posts %}
    <div class="post-item">
        <h3><a href="{{url_for('show_post', post_id=post.id)}}">{{post.title}}</a></h3>
        <p>{{post.subtitle}}</p>
        <p>{{post.date}}</p>
        {% if user.id == 1 %}
        <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
        <p>test</p>
        {% endif %}
    </div>

    {% endfor %}
</div>


{% include "footer.html" %}